/*/////////////////////////////////////////////////////////////////////////////////////////////////
 * main.css
 * Joshua Snider
 * Apr262022
 * Style sheet for components of porject, most in 'styles'.css all .php and .html files reference this file to decide appearance & theme
/////////////////////////////////////////////////////////////////////////////////////////////////*/

:root{
    --s3: calc(var(--s2) * var(--ratio));
}

/* the styles for the HTML elements */
html {
    background-color: rgb(192, 192, 192);
    margin-left: 10%;
    margin-right: 10%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0 var(--s3);
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}
header {
    border-bottom: 2px solid black;
    padding: .5em 0;

    background-image: url("./images/tranlogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
}

main {

}

footer {
    clear: both;
    border-top: 2px solid black;
}
footer p {
    display: inline-block;
    width: 80%;
    text-align: right;
    font-size: 80%;
}
h1 {
    font-size: 150%;
    margin: .5em 0;
}
h2 {
    font-size: 120%;
    margin: .25em 0 .5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-bottom: 1em;
}
li {
    padding-bottom: 0.5em;
}

br {
    clear: left;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 1em;
}
td, th {
    border: 1px dashed black;
    padding: .2em .5em .2em .5em;
    text-align: left;
}
form {

}
/* the styles for classes */
.right {
    text-align: right;
}
.first_paragraph {
    margin-top: 0;	
}
.hidden{
    visibility: hidden;
}
.show{
    visibility: visible;
}

/* the styles for the div tags that divide the page into sections */
#left_column {
    float: left;
    text-align: center;
}
#right_column {
    float: left;
    padding-left: 1em;
    padding-bottom: 2em;
}
/* Additional styles for the Product Manager application */
#add_product_form {
    margin: .5em 0;
}
#add_product_form label {
    width: 6em;
    padding-right: 1em;
    padding-bottom: .5em;
    float: left;
}
#add_product_form input {
    float: left;
}
#add_product_form input[text] {
    width: 15em;
}

/* CSS For the about_us page */
.column{
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding 0 8px;
}

.card{
    box-shadow: 0 4px 8px 0 #333;
    margin: 8px;
}

.about-us{
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
    text-align: left;
}

.container{
    padding: 0 16px;
}

.container::after, .row::after{
    content: " ";
    clear: both;
    display: table;
}

.button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover{
    background-color: #555;
}

/*
aside {
    float: left;
    width: fit-content;
    margin-right: 5px;
}

section {
    float: left;
}
*/
